<div class="container">
      <div class="seat-display">
          <div class="seat-row">
              <div class="upper-col">
                <button class="seats" (click)="bookTickets('1A')"><span class="seat-num">1A</span></button>
                <p class="seat-space"></p>
                <button class="seats" (click)="bookTickets('1B')"><span class="seat-num">1B</span></button>
                <p class="walk-space"></p>
                <button class="seats" (click)="bookTickets('1C')"><span class="seat-num">1C</span></button>
                <p class="seat-space"></p>
                <button class="seats" (click)="bookTickets('1D')"><span class="seat-num">1D</span></button>
            </div>
        </div>
        <div class="seat-row">
            <div class="upper-col">
                <button class="seats" (click)="bookTickets('2A')"><span class="seat-num">2A</span></button>
                <p class="seat-space"></p>
                <button class="seats" (click)="bookTickets('2B')"><span class="seat-num">2B</span></button>
                <p class="walk-space"></p>
                <button class="seats" (click)="bookTickets('2C')"><span class="seat-num">2C</span></button>
                <p class="seat-space"></p>
                <button class="seats" (click)="bookTickets('2D')"><span class="seat-num">2D</span></button>
            </div>
        </div>
        <div class="seat-row">
            <div class="upper-col">
                <button class="seats" (click)="bookTickets('3A')"><span class="seat-num">3A</span></button>
                <p class="seat-space"></p>
                <button class="seats" (click)="bookTickets('3B')"><span class="seat-num">3B</span></button>
                <p class="walk-space"></p>
                <button class="seats" (click)="bookTickets('3C')"><span class="seat-num">3C</span></button>
                <p class="seat-space"></p>
                <button class="seats" (click)="bookTickets('3D')"><span class="seat-num">3D</span></button>
            </div>
        </div>
        <div class="seat-row">
            <div class="upper-col">
                <button class="seats" (click)="bookTickets('4A')"><span class="seat-num">4A</span></button>
                <p class="seat-space"></p>
                <button class="seats" (click)="bookTickets('4B')"><span class="seat-num">4B</span></button>
                <p class="walk-space"></p>
                <button class="seats" (click)="bookTickets('4C')"><span class="seat-num">4C</span></button>
                <p class="seat-space"></p>
                <button class="seats" (click)="bookTickets('4D')"><span class="seat-num">4D</span></button>
            </div>
        </div>
        <div class="seat-row">
            <div class="upper-col">
                <button class="seats" (click)="bookTickets('5A')"><span class="seat-num">5A</span></button>
                <p class="seat-space"></p>
                <button class="seats" (click)="bookTickets('5B')"><span class="seat-num">5B</span></button>
                <p class="walk-space"></p>
                <button class="seats" (click)="bookTickets('5C')"><span class="seat-num">5C</span></button>
                <p class="seat-space"></p>
                <button class="seats" (click)="bookTickets('5D')"><span class="seat-num">5D</span></button>
            </div>
        </div>
        <div class="seat-row">
            <div class="upper-col">
                <button class="seats" (click)="bookTickets('6A')"><span class="seat-num">6A</span></button>
                <p class="seat-space"></p>
                <button class="seats" (click)="bookTickets('6B')"><span class="seat-num">6B</span></button>
                <p class="walk-space"></p>
                <button class="seats" (click)="bookTickets('6C')"><span class="seat-num">6C</span></button>
                <p class="seat-space"></p>
                <button class="seats" (click)="bookTickets('6D')"><span class="seat-num">6D</span></button>
            </div>
        </div>
        <div class="seat-row">                                               
            <div class="upper-col">
                <button class="seats" (click)="bookTickets('7A')"><span class="seat-num">7A</span></button>
                <p class="seat-space"></p>
                <button class="seats" (click)="bookTickets('7B')"><span class="seat-num">7B</span></button>
                <p class="walk-space"></p>
                <button class="seats" (click)="bookTickets('7C')"><span class="seat-num">7C</span></button>
                <p class="seat-space"></p>
                <button class="seats" (click)="bookTickets('7D')"><span class="seat-num">7D</span></button>
            </div>
        </div>
        <div class="seat-row">
            <div class="upper-col">
                <button class="seats" (click)="bookTickets('8A')"><span class="seat-num">8A</span></button>
                <p class="seat-space"></p>
                <button class="seats" (click)="bookTickets('8B')"><span class="seat-num">8B</span></button>
                <p class="walk-space"></p>
                <button class="seats" (click)="bookTickets('8C')"><span class="seat-num">8C</span></button>
                <p class="seat-space"></p>
                <button class="seats" (click)="bookTickets('8D')"><span class="seat-num">8D</span></button>
            </div>
        </div>
        <div class="seat-row">
            <div class="upper-col">
                <button class="seats" (click)="bookTickets('9A')"><span class="seat-num">9A</span></button>
                <p class="seat-space"></p>
                <button class="seats" (click)="bookTickets('9B')"><span class="seat-num">9B</span></button>
                <p class="walk-space"></p>
                <button class="seats" (click)="bookTickets('9C')"><span class="seat-num">9C</span></button>
                <p class="seat-space"></p>
                <button class="seats" (click)="bookTickets('9D')"><span class="seat-num">9D</span></button>
            </div>
        </div>
        <div class="seat-row">
            <div class="upper-col">
                <button class="seats" (click)="bookTickets('10A')"><span class="seat-num">10A</span></button>
                <p class="seat-space"></p>
                <button class="seats" (click)="bookTickets('10B')"><span class="seat-num">10B</span></button>
                <p class="walk-space"></p>
                <button class="seats" (click)="bookTickets('10C')"><span class="seat-num">10C</span></button>
                <p class="seat-space"></p>
                <button class="seats" (click)="bookTickets('10D')"><span class="seat-num">10D</span></button>
            </div>
        </div>
        <div class="seat-row">
            <div class="upper-col">
                <button class="seats" (click)="bookTickets('11A')"><span class="seat-num">11A</span></button>
                <p class="seat-space"></p>
                <button class="seats" (click)="bookTickets('11B')"><span class="seat-num">11B</span></button>
                <p class="walk-space"></p>
                <button class="seats" (click)="bookTickets('11C')"><span class="seat-num">11C</span></button>
                <p class="seat-space"></p>
                <button class="seats" (click)="bookTickets('11D')"><span class="seat-num">11D</span></button>
            </div>
        </div>
        <div class="seat-row">
            <div class="upper-col">
                <button class="seats" (click)="bookTickets('12A')"><span class="seat-num">12A</span></button>
                <p class="seat-space"></p>
                <button class="seats" (click)="bookTickets('12B')"><span class="seat-num">12B</span></button>
                <p class="walk-space"></p>
                <button class="seats" (click)="bookTickets('12C')"><span class="seat-num">12C</span></button>
                <p class="seat-space"></p>
                <button class="seats" (click)="bookTickets('12D')"><span class="seat-num">12D</span></button>
            </div>
        </div>
        <div class="seat-row">
            <div class="upper-col">
                <button class="seats" (click)="bookTickets('13A')"><span class="seat-num">13A</span></button>
                <p class="seat-space"></p>
                <button class="seats" (click)="bookTickets('13B')"><span class="seat-num">13B</span></button>
                <p class="walk-space"></p>
                <button class="seats" (click)="bookTickets('13C')"><span class="seat-num">13C</span></button>
                <p class="seat-space"></p>
                <button class="seats" (click)="bookTickets('13D')"><span class="seat-num">13D</span></button>
            </div>
        </div>
        <div class="seat-row">
            <div class="upper-col">
                <button class="seats" (click)="bookTickets('14A')"><span class="seat-num">14A</span></button>
                <p class="seat-space"></p>
                <button class="seats" (click)="bookTickets('14B')"><span class="seat-num">14B</span></button>
                <p class="walk-space"></p>
                <button class="seats" (click)="bookTickets('14C')"><span class="seat-num">14C</span></button>
                <p class="seat-space"></p>
                <button class="seats" (click)="bookTickets('14D')"><span class="seat-num">14D</span></button>
            </div>
        </div>
        <div class="seat-row">
            <div class="upper-col">
                <button class="seats" (click)="bookTickets('15A')"><span class="seat-num">15A</span></button>
                <p class="seat-space"></p>
                <button class="seats" (click)="bookTickets('15B')"><span class="seat-num">15B</span></button>
                <p class="walk-space"></p>
                <button class="seats" (click)="bookTickets('15C')"><span class="seat-num">15C</span></button>
                <p class="seat-space"></p>
                <button class="seats" (click)="bookTickets('15D')"><span class="seat-num">15D</span></button>
            </div>
        </div>
        <div class="seat-row">
            <div class="upper-col">
                <button class="seats" (click)="bookTickets('16A')"><span class="seat-num">16A</span></button>
                <p class="seat-space"></p>
                <button class="seats" (click)="bookTickets('16B')"><span class="seat-num">16B</span></button>
                <p class="walk-space"></p>
                <button class="seats" (click)="bookTickets('16C')"><span class="seat-num">16C</span></button>
                <p class="seat-space"></p>
                <button class="seats" (click)="bookTickets('16D')"><span class="seat-num">16D</span></button>
            </div>
        </div>               
      </div>
    
   <div class="forms">
        <form [formGroup]="AirLineBookingForm" (ngSubmit)="onSubmit(AirLineBookingForm)">
            <div class="form-priority">
                    <div class="form-priority1">
                        <label class="form-priority2 form-priority7">Source: </label>
                        <select formControlName="source" (change)="destinationchange()" class="form-priority3">
                            <option *ngFor="let p of places" >
                                {{p}}
                            </option>
                        </select>
                    </div>
                   <div class="form-priority1">
                        <label class="form-priority2">Destination: </label>
                        <select formControlName="destination" class="form-priority3">
                        <option *ngFor="let p of newplace">
                             {{p}}
                        </option>
                    </select>
                   </div>
                   <div class="form-priority1">         
                         <label class="form-priority2 form-priority6">Date: </label>
                         <input type="date" formControlName="date" [max]="mxDate" [min]="mnDate" class="form-priority4">
                  </div>
            </div> 
            <div class="form-priority5">
                <div formArrayName="persons" *ngFor="let person of persons.controls;let i=index">
                     <div [formGroup]="person">   
                         <div class="person-list">
                             Person {{i+1}}
                         </div>
                           <div class="form-element">
                              <label class="form-element2 form-element21">Name: </label>
                              <input type="text" formControlName="name" class="form-element1" required>
                                   <div *ngIf="persons.at(i).get('name').invalid && (persons.at(i).get('name').dirty || persons.at(i).get('name').touched)"
                                        class="error">

                                     <small *ngIf="persons.at(i).get('name').errors.required">
                                       Name is required.
                                     </small>
                                     <small *ngIf="persons.at(i).get('name').errors.minlength">
                                       Name must be at least 4 characters long.
                                     </small>
                                    </div>
                           </div>
                           <div class="form-element">
                            <label class="form-element2 form-element22">Age: </label>
                            <input type="text" formControlName="age" class="width:20px;" required>
                            <div *ngIf="persons.at(i).get('age').invalid && (persons.at(i).get('age').dirty || persons.at(i).get('age').touched)"
                               class="error">

                                <small *ngIf="persons.at(i).get('age').errors.required">
                                   Age is required.
                                 </small>
                                 <small *ngIf="persons.at(i).get('age').errors.minlength">
                                   Name must be at least 4 characters long.
                                 </small>
                                </div>
                        </div>
                        <div class="form-element">
                            <label class="form-element2 form-element23">Gender: </label>
                            <select formControlName="gender" class="form-element4" required>
                                <option>Male</option>
                                <option>Female</option>
                                <option>Others</option>
                            </select>
                        </div>
                        <div class="form-element">
                            <label class="form-element2 form-element22">Seat: </label>
                            <button type="button" (click)="selection=i" class="form-element5">Select</button>
                            <input type="text" formControlName="seat" class="form-element3" readonly required>
                        </div>
                        <ng-container *ngIf="userCount>0">
                        <button type="button" (click)="removePersons(i)" class="button-element1" style="background-color: tomato;">Remove</button>
                    </ng-container>
                        </div>
                     </div>
                     <ng-container *ngIf="userCount<3">
                        <button type="button" (click)="addpersons()" class="button-element1" style="background-color: forestgreen;">Add Person</button>
                        </ng-container>
                </div>  
                <div class="book-button">
                    <button type=submit class="book-button1">Book</button>
                </div>         
        </form>
   </div>         