<div class="container">
          <section class="aligns"><img src="../../../../assets/Images/BallooAir1.png"></section>  
          <h1 class="aligns">Thank You For Choosing Balloo AirLines's Special Private Charters</h1>   
          <p class="description">Our team of certified pilots, and experienced crew, are delighted to welcome you aboard our luxury jet for your upcoming journey.</p>   
          <p class="description">Please find below all details of your aircraft, flight, and crew. If you have any questions, or would like to make amendments to your quote, please use the questions section down below.</p>

          <h1>Aircraft Details</h1>
          <section class="details">
              <h2 class="classic_space">Aircraft: </h2>
              <p class="details_value">Midsize Luxury Jet</p>
          </section>
          <section class="details">
            <h2 class="classic_space">Capacity: </h2>
            <p class="details_value">15 Passengers</p>
        </section>
        <section class="details">
            <h2 class="classic_space">Range: </h2>
            <p class="details_value">7,300 mi / 11,748 KM</p>
        </section>
        <section class="detail">
            
            <figcaption class="image">
                <img src="../../../../assets/Images/private2.jpg">
                <p class="details_value1">Capable of flying anywhere in the world, our midsize luxury jets offer are the best possible travel option for both reliability and high-performance.</p>
            </figcaption>

            
            <figcaption class="image">
                <img src="../../../../assets/Images/private1.jpg">
                
                <p class="details_value1">The cabin boasts a full-sized galley for food and drink preparation, power outlets, stable wifi connectivity and cable TV, as well as luxurious bathroom amenities that are separate from the crew.</p>
            </figcaption>
        </section>

        <section>
            <p class="details_value">Our dedicated charter flight crew are experienced in providing the finest in luxury travel care, and offer full concierge services. Should any need arise for arrangements to be made on the ground, please alert staff of your requests.</p>
        </section>

        <h2 style="color:crimson">For Bookings and More Information, Email us at, rahul.tricon303@gmail.com</h2>
</div>