<header class="navbar">
    <nav class="left-nav">
        <ul>
            <li class="logo"><img src="../../assets/Images/SmallLogo.jpg"></li>
            <li class="item"><a routerLink="/" routerLinkActive="active">Home</a></li>
            <li class="item"><a routerLink="#" routerLinkActive="active">Services</a></li>
            <li class="item"><a routerLink="#" routerLinkActive="active">Contact</a></li>
        </ul>
    </nav>
    <nav class="right-nav">
        <ul>
            <li class="item"><a routerLink="/customer/login" routerLinkActive="active">Login</a></li>
            <li class="item"><a routerLink="/customer/register" routerLinkActive="active">Register</a></li>
        </ul>
    </nav>
</header>
    <router-outlet></router-outlet>
<footer>
    <section>&copy;Balloo.Ltd All Rights Reserved </section>
</footer>