<header class="navbar">
   <nav class="left-nav">
       <ul>
           <li class="logo"><a routerLink="/"><img src="../../assets/Images/SmallLogo.jpg"></a></li>
           <li class="item"><a routerLink="/airline">Home</a></li>
           <li class="item"><a routerLink="#">Services</a></li>
           <li class="item"><a routerLink="#">Contact</a></li>
       </ul>
   </nav>
   <nav class="right-nav">
       <ul>
           <li class="item"><a routerLink="/customer/login">Login</a></li>
           <li class="item"><a routerLink="/customer/register">Register</a></li>
       </ul>
   </nav>
</header>
 <div class="body">   
    <router-outlet></router-outlet>
</div>
<footer class="foot-content">
       <div class="foot-content1"> &copy; 2020 Balloo. All Rights Reserved. </div>
</footer>
       
    
      
        