<header class="navbar">
    <nav class="left-nav">
        <ul>
           <li class="logo"><img src="../../assets/Images/SmallLogo.jpg"></li> 
            <li class="item"><a routerLink="/" routerLinkActive="active">Home</a></li>
            <li class="item"><a routerLink="#" routerLinkActive="active">About us</a></li>
            <li class="item"><a routerLink="#" routerLinkActive="active">Contact</a></li>
        </ul>
    </nav>
    <nav class="right-nav">
        <ul>
            <li class="item"><a routerLink="/customer/login" routerLinkActive="active">Login</a></li>
            <li class="item"><a routerLink="/customer/register" routerLinkActive="active">Register</a></li>
        </ul>
    </nav>
</header>
<main class="container">
    <div>
        <article><a routerLink="/airline"><img src="../../assets/Images/AirplaneSmall.jpg"><figcaption>Balloo Airlines</figcaption></a></article>
        <article><a routerLink="/railways"><img src="../../assets/Images/RailwaySmall.jpg" class="opacity"><figcaption>Balloo Railways(Coming Soon)</figcaption></a></article>
        <article><a routerLink="/ecommerce"><img src="../../assets/Images/EcommerceSmall.jpg" class="opacity"><figcaption>Balloo Shoppings(Coming Soon)</figcaption></a></article>
        <article><a routerLink="/food"><img src="../../assets/Images/FoodSmall.jpg" class="opacity"><figcaption>Balloo Delicacies(Coming Soon)</figcaption></a></article>
    </div>
</main>
<footer>
    <section>&copy;Balloo.Ltd All Rights Reserved </section>
</footer>
   
